In [253]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [254]:
final = pd.read_csv("final_dataset.csv")

In [255]:
final.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker Unknown Doug Walker Doc...

In [256]:
final.shape

(6014, 7)

In [257]:
final.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
combined         0
dtype: int64

### Creating similarity

In [258]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
final_cv = cv.fit_transform(final['combined'])

In [261]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(final_cv)

In [276]:
def rcmd(m):
    m = m.lower()
    if m not in final['movie_title'].unique():
        return('Sorry! The movie you requested is not in our database. Please check the spelling or try with some other movies')
    else:
        i = final.loc[final['movie_title']==m].index[0]
        lst = list(enumerate(similarity[i]))
        lst = sorted(lst, key = lambda x:x[1] ,reverse=True)
        lst = lst[1:6] # excluding first item since it is the requested movie itself
        l = []
        for i in range(len(lst)):
            a = lst[i][0]
            l.append(final['movie_title'][a])
        return l

In [280]:
preds = rcmd('superman')
preds

['superman ii',
 'superman returns',
 'timeline',
 'superman iii',
 'superman iv: the quest for peace']

In [286]:
predss=[]
for i in range(len(preds)):
    predss.append(preds[i].capitalize())
print(predss)

['Superman ii', 'Superman returns', 'Timeline', 'Superman iii', 'Superman iv: the quest for peace']

In [298]:
for i in range(len(preds)):
    gg = '\n'.join(predss)
print(gg)

Superman ii
Superman returns
Timeline
Superman iii
Superman iv: the quest for peace