In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## FOR 2018 DATA:

In [2]:
link1 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2018'

In [3]:
df1 = pd.read_html(link1,header=0)[2]
df2 = pd.read_html(link1,header=0)[3]
df3 = pd.read_html(link1,header=0)[4]
df4 = pd.read_html(link1,header=0)[5]

In [4]:
df1.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]

In [5]:
df2.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,APRIL,6,A Quiet Place,Paramount Pictures / Platinum Dunes,John Krasinski (director/screenplay); Scott Be...,[75]
1,APRIL,6,Blockers,Universal Pictures / Good Universe / Point Gre...,"Kay Cannon (director); Eben Russell, Jon Hurwi...",[76]
2,APRIL,6,You Were Never Really Here,Amazon Studios,Lynne Ramsay (director/screenplay); Joaquin Ph...,[77]
3,APRIL,6,Chappaquiddick,Entertainment Studios,"John Curran (director); Taylor Allen, Andrew L...",[78]
4,APRIL,6,Pandas,Warner Bros. Pictures / IMAX,"Drew Fellman, David Douglas (directors); Drew ...",[79]

In [6]:
df3.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JULY,4,The First Purge,Universal Pictures / Blumhouse Productions / P...,Gerard McMurray (director); James DeMonaco (sc...,[134]
1,JULY,6,Ant-Man and the Wasp,Marvel Studios,"Peyton Reed (director); Chris McKenna, Erik So...",[135]
2,JULY,6,Sorry to Bother You,Annapurna Pictures,Boots Riley (director/screenplay); Lakeith Sta...,[136]
3,JULY,6,Whitney,Roadside Attractions / Miramax,Kevin MacDonald (director/screenplay); Whitney...,[137]
4,JULY,13,Hotel Transylvania 3: Summer Vacation,Columbia Pictures / Sony Pictures Animation,Genndy Tartakovsky (director/screenplay); Mich...,[138]

In [7]:
df4.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,OCTOBER,2,Power of the Air,Five & Two Pictures,Dave Christiano (director/screenplay); Nichola...,[199]
1,OCTOBER,5,Venom,Columbia Pictures / Marvel Entertainment,"Ruben Fleischer (director); Jeff Pinkner, Scot...",[200]
2,OCTOBER,5,A Star Is Born,Warner Bros. Pictures,Bradley Cooper (director/screenplay); Eric Rot...,[201]
3,OCTOBER,5,The Hate U Give,20th Century Fox / Fox 2000 Pictures,George Tillman Jr. (director); Audrey Wells (s...,[202]
4,OCTOBER,10,The Happy Prince,Sony Pictures Classics,Rupert Everett (director/screenplay); Rupert E...,[203]

In [8]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [9]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]

In [10]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df.shape)

(73, 6)
(63, 6)
(66, 6)
(66, 6)
(268, 6)

In [11]:
#api = '6144fedeb2081bce99bb04a59330875b'
#eg: https://api.themoviedb.org/3/movie/550?api_key=6144fedeb2081bce99bb04a59330875b

#API Read Access Token (v4 auth)
#eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MTQ0ZmVkZWIyMDgxYmNlOTliYjA0YTU5MzMwODc1YiIsInN1YiI6IjVmMzI5ZGI0ZjFiNTcxMDAzNGVkZDkyNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OtIDOKt5VHZgJpsCcuw53nk0_HOs-jAMIJC7MzEkNsk

In [12]:
from tmdbv3api import TMDb, Movie
import json
import requests

In [13]:
tmdb = TMDb()
tmdb_movie = Movie()
tmdb.api_key = '6144fedeb2081bce99bb04a59330875b'

In [14]:
#The format for the url consists of the movie ID and the api, so we need to get the movie ID for each movie in our dataset

In [15]:
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [16]:
df['genres'] = df['Title'].map(lambda x: get_genre(x))

In [17]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],Mystery Horror Thriller
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],Thriller Drama
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],Action Thriller
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],Drama History Western
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],Action Thriller

In [18]:
df['Cast and crew'][0]

'Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Kirk Acevedo, Bruce Davison'

In [19]:
for i in range(0,df.shape[0]):
    if (df['Cast and crew'][i].count('(direct'))>1:
        print('index',i,'has more than one director')
        
#Therefore we have all values with one director

In [20]:
def get_directors(x):
    return x.split("(direct")[0]

In [21]:
df['director_name'] = df['Cast and crew'].map(lambda x: get_directors(x))

In [22]:
def get_actor1(x):
    return ((x.split("play);")[-1]).split(',')[0])

In [23]:
#(df['Cast and crew'][230].split("play);")[1]).split(',')[0]
#idk why is [-1] giving o/p and not [1]

In [24]:
df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

In [25]:
def get_actor2(x):
    if len(((x.split("play);")[-1]).split(', ')))<2:
        return np.NaN
    else:
        return ((x.split("play);")[-1]).split(', ')[1])

In [26]:
df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

In [27]:
def get_actor3(x):
    if len(((x.split("play);")[-1]).split(', ')))<3:
        return np.NaN
    else:
        return ((x.split("play);")[-1]).split(', ')[2])

In [28]:
df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

In [29]:
df.isnull().sum()

Opening                0
Opening.1              0
Title                  0
Production company     0
Cast and crew          0
Ref.                   1
genres                 2
director_name          0
actor_1_name           0
actor_2_name           9
actor_3_name          26
dtype: int64

In [30]:
df.rename(columns={'Title':'movie_title'},inplace=True)

In [31]:
new_data18 = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [32]:
new_data18['movie_title'] = new_data18['movie_title'].str.lower()

In [33]:
new_data18['actor_2_name'] = new_data18['actor_2_name'].replace(np.nan, 'unknown')
new_data18['actor_3_name'] = new_data18['actor_3_name'].replace(np.nan, 'unknown')

In [34]:
new_data18['combined'] = new_data18['actor_1_name']+' '+new_data18['actor_2_name']+' '+new_data18['actor_3_name']+' '+new_data18['director_name']+' '+new_data18['genres']

In [35]:
new_data18.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Mystery Horror Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam R...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Al...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simo...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornto...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume...

## FOR 2019 DATA:

In [36]:
link2 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2019'

In [37]:
df1 = pd.read_html(link2,header=0)[3]
df2 = pd.read_html(link2,header=0)[4]
df3 = pd.read_html(link2,header=0)[5]
df4 = pd.read_html(link2,header=0)[6]

In [38]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [39]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]

In [40]:
df.shape

(241, 6)

In [41]:
df['genres'] = df['Title'].map(lambda x: get_genre(x))

In [42]:
df['director_name'] = df['Cast and crew'].map(lambda x: get_directors(x))

In [43]:
df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

In [44]:
df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

In [45]:
df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

In [46]:
df.isnull().sum()

Opening                0
Opening.1              0
Title                  0
Production company     0
Cast and crew          0
Ref.                   7
genres                 2
director_name          0
actor_1_name           0
actor_2_name           1
actor_3_name          16
dtype: int64

In [47]:
df.shape

(241, 11)

In [48]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2],Thriller Action Mystery Horror,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3],Thriller Drama,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4],Thriller,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5],Drama Adventure Family,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6],Comedy Drama,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman

In [49]:
df.rename(columns={'Title':'movie_title'},inplace=True)

In [50]:
new_data19 = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [51]:
new_data19['movie_title'] = new_data19['movie_title'].str.lower()

In [52]:
new_data19['actor_2_name'] = new_data19['actor_2_name'].replace(np.nan, 'unknown')
new_data19['actor_3_name'] = new_data19['actor_3_name'].replace(np.nan, 'unknown')

In [53]:
new_data19['combined'] = new_data19['actor_1_name']+' '+new_data19['actor_2_name']+' '+new_data19['actor_3_name']+' '+new_data19['director_name']+' '+new_data19['genres']

In [54]:
new_data19.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Thriller Action Mystery Horror,escape room,Taylor Russell Logan Miller Deborah Ann Woll ...
1,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama,rust creek,Hermione Corfield Jay Paulson Sean O'Bryan Je...
2,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,american hangman,Donald Sutherland Vincent Kartheiser Oliver D...
3,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,a dog's way home,Bryce Dallas Howard Edward James Olmos Alexan...
4,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,the upside,Bryan Cranston Kevin Hart Nicole Kidman Neil ...

In [55]:
new_data89 = new_data18.append(new_data19,ignore_index=True)

In [56]:
new_data89.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Mystery Horror Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam R...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Al...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simo...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornto...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume...

## FOR 2020 DATA:

In [57]:
link3 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2020'

In [58]:
df1 = pd.read_html(link3,header=0)[3]
df2 = pd.read_html(link3,header=0)[4]
df3 = pd.read_html(link3,header=0)[5]
df4 = pd.read_html(link3,header=0)[6]

In [59]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [60]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
4,JANUARY,10,The Sonata,Screen Media Films,Andrew Desmond (director/screenplay); Arthur M...,[6]

In [61]:
df.shape

(157, 6)

In [62]:
df['genres'] = df['Title'].map(lambda x: get_genre(x))

In [63]:
df['director_name'] = df['Cast and crew'].map(lambda x: get_directors(x))

In [64]:
df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

In [65]:
df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

In [66]:
df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

In [67]:
df.isnull().sum()

Opening                0
Opening.1              0
Title                  0
Production company     0
Cast and crew          0
Ref.                   0
genres                 0
director_name          0
actor_1_name           0
actor_2_name           2
actor_3_name          12
dtype: int64

In [68]:
df.shape

(157, 11)

In [69]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],Horror Mystery,Nicolas Pesce,Andrea Riseborough,Demin Bichir,John Cho
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],Drama Thriller Crime,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs
4,JANUARY,10,The Sonata,Screen Media Films,Andrew Desmond (director/screenplay); Arthur M...,[6],Horror Thriller Mystery,Andrew Desmond,Freya Tingley,Simon Abkarian,Rutger Hauer

In [70]:
df.rename(columns={'Title':'movie_title'},inplace=True)

In [71]:
new_data20 = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [72]:
new_data20['movie_title'] = new_data20['movie_title'].str.lower()

In [73]:
new_data20 = new_data20.dropna(how='any')

In [74]:
new_data20['combined'] = new_data20['actor_1_name']+' '+new_data20['actor_2_name']+' '+new_data20['actor_3_name']+' '+new_data20['director_name']+' '+new_data20['genres']

In [75]:
new_data20.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,Nicolas Pesce,Andrea Riseborough,Demin Bichir,John Cho,Horror Mystery,the grudge,Andrea Riseborough Demin Bichir John Cho Nic...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,Kristen Stewart Vincent Cassel Jessica Henwic...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel...
3,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Drama Thriller Crime,inherit the viper,Josh Hartnett Margarita Levieva Chandler Rigg...
4,Andrew Desmond,Freya Tingley,Simon Abkarian,Rutger Hauer,Horror Thriller Mystery,the sonata,Freya Tingley Simon Abkarian Rutger Hauer And...

In [76]:
final_data = new_data89.append(new_data20,ignore_index=True)

In [77]:
final_data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Mystery Horror Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam R...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Al...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simo...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornto...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume...

In [78]:
final_data.shape

(654, 7)

In [79]:
old_data = pd.read_csv("Appended Data.csv")

In [80]:
old_data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker Unknown Doug Walker Doc...

In [81]:
old_data.shape

(5364, 7)

In [82]:
final = old_data.append(final_data,ignore_index=True)

In [83]:
final.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,combined
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker Unknown Doug Walker Doc...

In [84]:
final.shape

(6018, 7)

In [85]:
final = final.dropna()

In [86]:
final.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
combined         0
dtype: int64

In [87]:
final.to_csv('final_dataset.csv',index=False)